<div class="container">
  <h1>Edit restaurant</h1>

  <%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit 'Edit Restaurant', class: "btn btn-primary" %>
<% end %>


  <div>
  <%= link_to "Show this restaurant", @restaurant %> |
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
</div>
