
<div class="container">
  <h1>New restaurant</h1>

  <%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit 'Create Restaurant', class: "btn btn-primary" %>
<% end %>


  <div>
    <%= link_to "Back to restaurants", restaurants_path %>
  </div>
</div>
