<div class="container mt-5">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <div>
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
    <%= link_to "Back to restaurants", restaurants_path %> |
    <%= link_to "Add review", new_restaurant_review_path(@restaurant) %> |
  </div>

  <h2>Reviews for <%= @restaurant.name %></h2>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %>
        <%= review.rating %>
      </li>
    <% end %>
  </ul>
</div>
